node_modules
dist
.env
.DS_Store
.gradle/
build/
*.apk
.kotlin/
android/.gradle/
android/app/build/
android/.kotlin/
fix_icons.sh
apply_ota_and_clean.sh

.gradle/
build/
*.apk
.kotlin/
android/.gradle/
android/app/build/
fix_build.py
